.navbar ul {
    padding-left: 30px;
    padding-right: 30px;
}

.footer {
    text-align: center;
}

.rounded img {
    border-radius: 15%;
}

.faq {
    margin-top: 12px;
    padding:10px;
}

/* styles for modal */

.newsletterImg {
    width: 50%;
    height: 50%;
    padding-bottom: 20px;
    margin: 0 auto;
}

.centered {
    text-align: center;
    margin: 0 auto;
}

.modalh1 {
    padding-top: 10px;
    padding-bottom: 10px;
}


/* Below is code for theme switching black/white */

:root {
    --bg-color: white;
    --text-color: black;
}

[data-theme="dark"] {
    --bg-color: #13171F; /* exact colour of background colour */
    --text-color: white;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

#switchThemeBtn {
    background-color: var(--btn-bg);
    color: var(--btn-text);
    border: 1px solid var(--btn-text);
}

/* below is code for volume control rang */

input[type="range"] {
    width: 400px; /* Adjust the width as needed */
    margin-top: 10px ;
}
