.navbar ul {
    padding-left: 30px;
    padding-right: 30px;
}

.footer {
    text-align: center;
}

.rounded img {
    border-radius: 15%;
}

.faq {
    margin-top: 12px;
    padding:10px;
}

/* styles for modal */

.newsletterImg {
    width: 50%;
    height: 50%;
    padding-bottom: 20px;
    margin: 0 auto;
}

.centered {
    text-align: center;
    margin: 0 auto;
}

.modalh1 {
    padding-top: 10px;
    padding-bottom: 10px;
}


/* Below is code for theme switching black/white */


/* defines default CSS custom properties (also known as CSS variables) for the root element (:root) of the document. */
:root {
    --bg-color: white;
    --text-color: black;
}

[data-theme="light"] {
    --background-color: white;
    --text-color: black;
}

[data-theme="dark"] {
    --bg-color: #13171F; /* Exact colour of background colour */
    --text-color: white;
}


/* Adds a transition effect of 0.3 seconds for the background and text color changes, making the switch between themes smoother. */
body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

/* Below is code for volume control range */

input[type="range"] {
    width: 400px; /* Adjust the width as needed */
    margin-top: 10px ;
}

/* tts.html */
.side-padding-10 {
    width: 90%;
}

@media screen and (max-width: 767px) {
    
}

#switchThemeBtn {
    border: 1px solid var(--btn-text);
}

.hidden {
    display: none;
}

.sliderCaption {
    display: block;
    width: 100%;
    margin-top: calc(var(--pico-spacing)* -.75);
    margin-bottom: var(--pico-spacing);
    color: var(--pico-muted-color);
}

.noBorder {
    border: 1px solid var(--btn-text);
}